.about-inner-left{
    div ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    div ul li{
        list-style: none;
    }
}