@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
.project-card-div{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;

    .project-details{
        margin-left: 25px;
        border-radius: 4px;
        padding: 0px 20px;
        background-color: #053868;
        color: #5CDB95;
        box-shadow:
        rgb(60 64 67 / 30%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 1px 3px 1px,
        inset rgb(7 99 186) 0px 0px 5px 1px

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: right;
        }

        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            li{
                list-style: none;
                margin-left:10px;
                font-size: 13px;
                font-family: 'Fira Mono', monospace;
            }
        }

        div{
            .project-title{
                text-align: right;
            }
        }

        ::selection {
            color: #053868;
            background: #3ad781;
        }
    }
}

.project-image{
    img {
        height: 100%;
        width: 550px;
        border-radius: 4px;
    }
}