$theme-light-color-1: #5CDB95;
$theme-light-color-2: #053868;
$theme-light-color-3: #EDF5E1;
$theme-light-color-4: #379683;
$theme-light-color-5: #8EE4AF;

$theme-dark-color-1: #053868;
$theme-dark-color-3: #5CDB95;
$theme-dark-color-2: #379683;
$theme-dark-color-4: #8EE4AF;
$theme-dark-color-5: #EDF5E1;

$theme-color-slate: #8892b0;

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: $theme-light-color-1;
  color: $theme-dark-color-2;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  counter-reset: navbar-list;

  ::selection {
    background: #053868;
    color: #3ad781;
  }
}

a{
  text-decoration: none;
}

// Scroll bar adjust
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $theme-light-color-1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $theme-light-color-2; 
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
