$theme-light-color-1: #5CDB95;
$theme-light-color-2: #053868;
$theme-light-color-3: #EDF5E1;
$theme-light-color-4: #379683;
$theme-light-color-5: #8EE4AF;

$theme-dark-color-1: #053868;
$theme-dark-color-3: #5CDB95;
$theme-dark-color-2: #379683;
$theme-dark-color-4: #8EE4AF;
$theme-dark-color-5: #EDF5E1;

$theme-color-slate: #8892b0;

.navbar-container-p { grid-area: navbar; }
.hero-container-p { grid-area: hero; }
.about-container-p { grid-area: about; }
.projects-container-p { grid-area: projects; }
.skills-container-p { grid-area: skills; }
.contact-container-p { grid-area: contact; }

.homepage-container-p{
    background-color: $theme-light-color-1;
    color: $theme-light-color-2;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'navbar'
    'hero'
    'about'
    'projects'
    'skills'
    'contact';

    // border: 5px solid $theme-dark-color-1; /* remove on build */
    height: 600vh; /* remove on build */
}